<div class="qzine-page {{ if (.Get "class")}}{{.Get "class"}}{{end}}">
    <div class="full-page-image-top-contained">
        <picture>
            {{ if .Get "mobileImg"}}
            <source data-srcset="../images/{{.Get "mobileImg"}}" media="--tablet" />
            {{end}}
            <source data-srcset="../images/{{.Get "img"}}" />
            <img data-src="../images/{{.Get "img"}}" class="lazyload"/>
        </picture>
        {{ if .Get "text"}}
        <p>{{.Get "text"}}</p>
        {{end}}
    </div>
</div>
