<div class="qzine-page top-aligned-video {{ if (.Get "class")}}{{.Get "class"}}{{end}}">
    <div class="overlay"></div>
    <div class="top-aligned-video-wrapper">
      <iframe {{ if (.Get "img")}}style="background-image: url({{.Get "img"}})"{{end}} class="shadow" src="https://player.vimeo.com/video/{{.Get "id"}}?background=1&autoplay=1{{ if (.Get "muted") }}&muted={{ .Get "muted" }}{{end}}" width="640" height="{{.Get "height"}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</div>
