$purp: #a790f1;
$purpLink: #6456AB;
$screenWidth: 100vw;

.anything-thats-part-of-you {
    .front-cover {
        background-position: top!important;
    }
    a {
        color: $purpLink;
    }
    .button {
        background-color: $purp;
    }

    .qzine-page {
        background-color: $purp;
    }
    .front-cover {
        background-position: center;
        background-image: url('../images/anything-thats-part-of-you/qzinefrontcover.jpg');
    @media screen and (max-width: $desktop) {
        background-image: url('../images/anything-thats-part-of-you/qzinefrontcover-mobile.jpg');
    }
    }
    .back-cover {
        background-image: url('../images/anything-thats-part-of-you/qzinebackcover.jpg')
    }
    /////
    .qzine-page {
        &.dream, &.mave {
            display: flex;
            justify-content: center;
            align-items: center;
            & > * {
                padding: 5px;
                @media screen and (min-width: $tablet) {
                    padding: 20px 20px 66px 20px;
                }
                @media screen and (min-width: $desktop) {
                    padding: 125px;
                }
            }
        }
        &.p5 {
            .top-aligned-video-wrapper {
                overflow: visible;
            }
        }
        &.p10, &.p11 {
            iframe {
                flex: 0 0 270%!important;
                height: 185%!important;
            }
        }
        &.p16 iframe {
            flex: 0 0 205%!important;
            height: 170%!important;
        }
        &.p17 iframe {
            flex: 0 0 170%!important;
            height: 120%!important;
        }
        &.p22 iframe {
            flex: 0 0 170%!important;
            height: 150%!important;
        }
        &.p23 iframe {
            flex: 0 0 160%!important;
            height: 150%!important;
        }
        &.p29 iframe {
            flex: 0 0 185%!important;
            height: 150%!important;
        }
        &.p34 iframe {
            flex: 0 0 200%!important;
            height: 150%!important;
        }
        &.p35 iframe {
            flex: 0 0 210%!important;
            height: 160%!important;
        }
    }
    .qzine-page p {
        text-align: left;
        margin: 2px 0;
        line-height: 1;
        font-size: 6px;
        @media screen and (min-width: $tablet) {
            margin: 5px 0;
            font-size: 10px;
            line-height: 1.2;
        }
        @media screen and (min-width: $desktop) {
            margin:15px 0;
            line-height: 1.3;
            font-size: 12px;
        }
    }
    .qzine-page.dedication  {
        & > * {
            @media screen and (min-width: $tablet) {
                margin-bottom: 40px;
            }
            padding: 5px;
            @media screen and (min-width: $tablet) {
                padding: 15px;
            }
        }
        p {
            text-align: left;
            margin: 1px 0;
            line-height: 1;
            font-size: 6px;
            @media screen and (min-width: $tablet) {
                margin: 4px 0;
                font-size: 10px;
                line-height: 1.1;
            }
            @media screen and (min-width: $desktop) {
                margin:15px 0;
                line-height: 1.3;
                font-size: 12px;
            }
        }
    }
    .parenthood .top-aligned-video-wrapper {
        display: block;
        iframe {
            height: calc(#{$screenWidth}/2)!important;
            width: 100%!important;
        }
    } 
}
