$girlsBgColor: #a2faf1;

.girls-just-want-to-have-fun {
    .button {
        background-color: $girlsBgColor;
    }
    .qzine-page {
        background-color: $girlsBgColor;


        p.movies-header {
            text-align: center;
        }

        ul {
            li {
                list-style-type: none;
                font-size: 11px;
                margin: 0;
                color: black;
            }
        }

        @media screen and (max-width: $tablet) {
            ul {
                line-height: 0.5em;

                li {
                    font-size: 4px;
                }
            }

            .dedication-text p {
                font-size: 4px;
            }

            .dedication-text br {
                /* Nice to find a better way to collapse. */
                display: none;
            }

            .images-container {
                text-align: center;

                img {
                    width: 50px;
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .text-left p {
                font-size: 6px;
            }

            .text-left ul {
                @media screen and (max-width: $tablet) {
                margin: .5em;
                }
            }
        }
    }

    .front-cover {
        background-position: center;
        background-image: url('/../images/girls-just-want-to-have-fun/frontcover.jpg');
        background-size: contain;
        background-color: #111;
    }

    .back-cover {
        background-position: center;
        background-image: url('/../images/girls-just-want-to-have-fun/backcover.jpg');
        background-size: contain;
        background-color: #111;
    }

    .dedication {
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
            margin-top: 1em;
        }
    }
}
