.love-is-the-death-of-duty {
  .button {
    background-color: white;
  }

  .qzine-page {
    background-color: #fc2466;

    a {
      color: black;
    }

    &.red {
      background-color: #fc2466;
      p {
        color: white;
      }
    }

    &.white {
      background-color: white;
      p {
        color: black;
      }
    }

    &.pink {
      background-color: #e45db9;
      p {
        color: black;
      }
    }

    &.purple {
      background-color: #c9a1e8;
      p {
        color: black;
      }
    }
    
    .images-with-text img {
      margin-top: 1em;
      object-fit: contain;
    }

    @media screen and (max-width: $tablet) {
      #wilson {
        width: 100px;
      }

      div.text-left p {
        font-size: 4px;
      }

      div.text-left br {
        display: none;
      }
    }
  }
  
  .front-cover {
    background-image: url('/../images/love-is-the-death-of-duty/frontcover.jpg');
    background-position: right;
  }
  
  .back-cover {
    background-image: url('/../images/love-is-the-death-of-duty/backcover.jpg');
    background-position: center;
  }
}
