.love-is-the-death-of-duty {
  .button {
    background-color: white;
  }

  .qzine-page {
    background-color: #fc2466;
  }
  
  .front-cover {
    background-image: url('/../images/love-is-the-death-of-duty/frontcover.jpg');
    background-position: right;
  }
  
  .back-cover {
    background-image: url('/../images/love-is-the-death-of-duty/backcover.jpg');
    background-position: center;
  }
}
