.meditations-in-an-emergency {
  .button {
    background-color: white;
  }

  br.spacer {
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
  .poem {
    @media screen and (max-width: $tablet) {
      line-height: 8px;

      br.spacer {
        display: block;
      }
    }
  }

        @media screen and (max-width: $tablet) {

          .horse {
            width: 50%;
          }
        }


  .qzine-page {
    background-color: #fc3b84;
		
		&.dedication-text p {
			font-size: 8px;
		}
		
		&.dedication-text ul li {
			font-size: 8px;
		}
		
		&.black { background-color: black; }

    a {
      color: black;
    }
    ul {
            padding-inline-start: initial;
            li {
                list-style-type: none;
                font-size: 11px;
                margin: .5em;
                color: black;
                text-align: left;
                line-height:.8em,
            }
        }

        @media screen and (max-width: $tablet) {

            ul {
                line-height: 0.5em;


                li {
                    font-size: 4px;
                    line-height:.7em,
                }
            }
						
						&.dedication-text p {
							font-size: 4px;
						}
		
						&.dedication-text ul li {
							font-size: 4px;
						}

            .dedication-text p {
                font-size: 4px;
            }

            .dedication-text br {
                /* Nice to find a better way to collapse. */
                display: none;
            }

            .images-container {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 15px;


                img {
                    width: 100px;
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .text-left p {
                font-size: 4px;
            }

            .text-left ul {
                @media screen and (max-width: $tablet) {
                margin: .1em;
                }
            }
        }
    }
  
  .front-cover {
    background-image: url('/../images/meditations-in-an-emergency/frontcover.png');
    background-position: cover;
    width: 100%;
  }
  
  .back-cover {
    background-image: url('/../images/meditations-in-an-emergency/backcover.jpg');
    background-position: left;
  }

  .images-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
