$slimegreen: #64e673;
$flopink: #FF48B0;
$turq: #4dd3fa;
$peach: #f4764f;
.menu {
    z-index: 2;
    h1 {
        text-decoration: underline;
        color: white;
        font-size: 16px;
    }
    ol, li {
        z-index: 2;
    }
    a {
        cursor: none;
    }
    .blue-moon {
        color: $slimegreen;
        font-size: 24px;
        &:visited, &:active {
            color: $slimegreen;
        }
    }
    .earth-angel {
        color: $flopink;
        font-size: 24px;
        &:visited, &:active {
            color: $flopink;
        }
    }
    .this-is-my-heaven {
        color: $turq;
        font-size: 24px;
        &:visited, &:active {
            color: $turq;
        }
    }
    .hands {
        color: $peach;
        font-size: 24px;
        &:visited, &:active {
            color: $peach;
        }
    }
}
.home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    color: white;
    z-index:2;
    font-family: 'Open Sans';
}
.home .angel {
    display: block!important;
}