.old-games {
  a {
    color: #72ac87;
  }

  .button {
    background-color: white;
  }

  .qzine-page {
    background-color: #9edbaf;
  }
  
  .front-cover {
    background-image: url('/../images/old-games/front-cover.jpg');
    background-position: right;
  }
  
  .back-cover {
    background-image: url('/../images/old-games/back-cover.jpg');
    background-position: center;
  }

  @media screen and (max-width: $tablet) {
    .text-left br, .dedication-text br {
      content: "";
      margin: 1em;
      display: block;
      font-size: 15%;
    }

    .b p, .o p {
      line-height: 1.2em;
    }

    .n1 p {
      line-height: 1.3em;
    }

    .n3 p {
      line-height: 1.2em;
    }

    .n2 p, .t p {
      line-height: 1.1em;
    }

  }

}
