.old-games {
  a {
    color: #72ac87;
  }

  .button {
    background-color: white;
  }

  .qzine-page {
    background-color: #9edbaf;
  }
  
  .front-cover {
    background-image: url('/../images/old-games/front-cover.jpg');
    background-position: right;
  }
  
  .back-cover {
    background-image: url('/../images/old-games/back-cover.jpg');
    background-position: center;
  }

  @media screen and (max-width: $tablet) {
    .text-left br, .dedication-text br {
      content: "";
      margin: 2em;
      display: block;
      font-size: 15%;
    }

    .dedication-text p{
      font-size: 6px;
    }

    .o p {
      line-height: 1.2em;
    }

    .n2 p {
      line-height: .9em;
    }

    .n1 p, .n3 p, .b p {
      line-height: 1.1em;
    }

    .t p {
      line-height: 1em;
      font-size: 6.5px;
    }

  }

}
