.old-games {
  a {
    color: #72ac87;
  }

  .qzine-page {
    background-color: #9edbaf;
  }
  
  .front-cover {
    background-image: url('/../images/old-games/front-cover.jpg');
    background-position: right;
  }
  
  .back-cover {
    background-image: url('/../images/old-games/back-cover.jpg');
    background-position: center;
  }
}
