.our-machine {
  .button {
    background-color: white;
  }
	
	.qzine-page {
		background-color: #161616;

    p {
      color: #fbf1e4;

      a {
        color: #fbf1e4;
      }

      @media screen and (max-width: $desktop) {
        font-size: 5px;
      }
    }

    @media screen and (max-width: $desktop) {
      br {
        content: "";
        margin: 1em;
        display: block;
        font-size: 15%;
      }

      .description p {
            font-size: 4px;
            line-height: 1.6;
          }
    }
  }

  .front-cover {
    background-image: url('/../images/our-machine/frontcover.jpg');
    background-position: center;
    width: 100%;
  }
  
  .back-cover {
    background-image: url('/../images/our-machine/backcover.jpg');
    background-position: center;
  }
}
