//Skins
$slimegreen: #64e673;
$flopink: #FF48B0;
$flopinklink: #811649;
$tablet: 500px;
$desktop: 1000px;
$controlsHeight: 86px;

.blue-moon {
    .button {
        background-color: $slimegreen;
    }

    .qzine-page {
        background-color: $slimegreen;
    }
    .front-cover {
        background-position: center;
        background-image: url('../images/qzinefrontcover.jpg');
    @media screen and (max-width: $desktop) {
        background-image: url('../images/qzinefrontcover-mobile.jpg');
    }
    }
    .back-cover {
        background-image: url('../images/qzinebackcover.jpg')
    }
}

.earth-angel {
    .p9 img {
        object-position: right;
    }
    .p13 iframe {
        width: 130%!important;
    }
    .p24 img {
        object-position: right;
    }
    .p24, .p25 {
        picture {
            max-height: 65%;
            overflow: hidden;
        }
    }
    .p26 img {
        object-position: 60%;
    }
    .p27 img {
        object-position: 70%;
    }
    .p29 iframe {
        width: 89%!important;
    }
    .p34 iframe {
        width: 120%!important;
        left: 56%!important;
    }
    .p35 iframe {
        width: 160%!important;
        height: 200%;
    }
    .p36 iframe {
        width: 100%;
    }
    .p37 img {
        object-fit: fill;
    }
    .p40 iframe {
        width: 120%!important;
        left: 56%!important;
    }
    .p41 iframe {
        width: 300% !important;
        height: 80% !important;
    }
    .p42, .p43 {
        iframe {
            width: 350%!important;
            height: 170%!important;
            left: 40%;
        }
    }
    .p42 iframe {
        left: 69%;
    }
    .p48 img {
        object-position: right;
    }
    .p49 img {
        object-position: left;
    }
    .p46 iframe {
        width: 120%!important;
        left: 56%!important;
    }
    a {
        color: $flopinklink;
    }
    .button {
        background-color: $flopink;
    }

    .qzine-page {
        background-color: $flopink;
    }
    .front-cover {
        background-position: right;
        background-image: url('../images/earth-angel/coverforearthangel.jpg');
        @media screen and (max-width: $desktop) {
            // background-image: url('../images/earth-angel/qzinefrontcover-mobile.jpg');
        }
    }
    .back-cover {
        background-image: url('../images/earth-angel/backcoverforearthangel.jpg')
    }
    .dedication {
        justify-content: center;
    }
    .dedication-content-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        padding-top: calc(#{$controlsHeight} + 10px);
        padding-bottom: calc(#{$controlsHeight} + 10px);
        padding-left: 10px;
        padding-right: 10px;
        @media screen and (max-width: $desktop) {
            padding-top: 10px;
            padding-bottom: 65px;
        }
        @media screen and (max-width: $tablet) {
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }
    .dedication-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1 0 33%;
        @media screen and (max-width: $desktop) {
            flex: 0 0 75%;
        }
        @media screen and (max-width: $tablet) {
            flex: 0 0 85%;
        }
        & > * {
            padding: 10px 0;
            @media screen and (max-width: $tablet) {
                padding-bottom: 5px;
            }
        }
    }
    .dedication-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 0 0 5%;
    }
    .pearljam-quote {
        width: 30%;
        @media screen and (max-width: $desktop) {
            width: 50%;
        }
    }
}