$slowyellow: #ffcf04;
$slowyellowLink: darken($slowyellow, 10%);
$slowgreen: #3fbf8b;
$slowpurp: #3f1295;

.slowly-as-i-leave-you {
    a {
        color: $slowyellowLink;
    }
    .button {
        background-color: $slowyellow;
    }

    .qzine-page {
        background-color: $slowyellow;
    }
    .front-cover {
        background-position: center;
        background-image: url('../images/slowly-as-i-leave-you/resizedfrontcoverslowly.jpg');
    @media screen and (max-width: $desktop) {
        background-image: url('../images/slowly-as-i-leave-you/resizedfrontcoverslowly.jpg');
    }
    }
    .back-cover {
        background-image: url('../images/slowly-as-i-leave-you/resizedbackcover.jpg');
        background-position: center;
    }
    .dedication-text {
        padding: 10%;
        p {
            text-align: left;
            margin: .75rem 0;
            line-height: 1.4;
            @media screen and (max-width: $desktop) {
                margin: .5rem 0;
                font-size: 9px;
            }
            @media screen and (max-width: $tablet) {
                margin: .2rem 0;
                font-size: 5px;
            }
        }
        br {
            @media screen and (max-width: $desktop) {
                display: none;
            }
        }
        .emoji {
            font-size: 4rem;
            @media screen and (max-width: $desktop) {
                font-size: .5rem;
            }
        }
    }
    .full-page-image-and-video {
        picture {
            height: 50%;
        }
        img {
            object-fit: cover;
            object-position: top;
        }
        iframe {
            height: 150%;
            width: 150%!important;
        }
    }
    .section-2, .section-5, .section-8 {
        background-color: $slowgreen;
        p {
            font-size: 25px;
                @media screen and (max-width: $desktop) {
                font-size: 15px;
            }
            @media screen and (max-width: $tablet) {
                font-size: 10px;
            }
        }
    }
    .section-3, .section-6 {
        background-color: $slowpurp;
        p {
            font-size: 25px;
            color: white;
            font-size: 25px;
                @media screen and (max-width: $desktop) {
                font-size: 15px;
            }
            @media screen and (max-width: $tablet) {
                font-size: 10px;
            }
        }
    }
    .section-4, .section-7 {
        background-color: $slowyellow;
        p {
            font-size: 25px;
            font-size: 25px;
                @media screen and (max-width: $desktop) {
                font-size: 15px;
            }
            @media screen and (max-width: $tablet) {
                font-size: 10px;
            }
        }
    }

    .writing {
        background-color: $slowyellow;
    }
    .text-left {
        padding: 30% 20%;
        @media screen and (max-width: $desktop) {
            padding: 15% 10%;
        }
        @media screen and (max-width: $tablet) {
            padding: 5%;
        }
        line-height: 1.2;
        font-size: 11px;
    }
}
