.starring {
  .button {
    background-color: white;
  }
	
	.qzine-page {
		background-color: #e1c7f8;

    &.purple {
      background-color: #e1c7f8;
      p {
        color: black;
      }
    }

    &.green {
      background-color: #7cea76;
      p {
        color: black;
      }
    }

    &.orange {
      background-color: #f8e1c7;
      p {
        color: black;
      }
    }

    ul {
        padding-inline-start: initial;
          li {
              list-style-type: none;
              font-size: 11px;
              margin: .5em;
              color: black;
              text-align: left;
              line-height:.8em,
          }
        }

        @media screen and (max-width: $tablet) {

            ul {
                line-height: 0.5em;


                li {
                    font-size: 4px;
                    line-height:.7em,
                }
            }
            
            &.dedication-text p {
              font-size: 4px;
            }
    
            &.dedication-text ul li {
              font-size: 4px;
            }

            .dedication-text p {
                font-size: 4px;
            }

            .dedication-text br {
                /* Nice to find a better way to collapse. */
                display: none;
            }

            .images-container {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 15px;


                img {
                    width: 100px;
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .text-left p {
                font-size: 4px;
            }

            .text-left ul {
                @media screen and (max-width: $tablet) {
                margin: .1em;
                }
            }
        }


	}
	
  .front-cover {
    background-image: url('/../images/starring/frontcover-resized.jpg');
    background-position: center;
    width: 100%;
  }
  
  .back-cover {
    background-image: url('/../images/starring/backcover-resized.png');
    background-position: center;
  }

  .images-container {
    text-align: center;
    margin-top: 40px;

    img {
      width: 90%;
    }

    @media screen and (max-width: $tablet) {

          .wholeimage {
            width: 50%;
          }
        }
  }
}