@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$tablet: 500px;
$desktop: 1000px;
$white: #fff;

.left .angel {
  transform: scaleX(-1);
}
.angel {
  svg {
    width: 70px;
    height: 70px;
  }
  opacity: .8;
  display: none;
  transition: opacity .5s;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
  z-index: 77;
  pointer-events: none;
}

:root {
  @media screen and (max-width: $desktop) {
    --mouse-x: 65%;
    --mouse-y: 20%;
  }
}

html {
  cursor: none;
}
a {
  cursor: none;
}
html, body {
  background-color: #111;
  z-index: 2;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
img { 
  &.lazyload,
  &.lazyloading {
    opacity: 0;
    transition: opacity 300ms;
  }
  &.lazyloaded {
    opacity: 1!important;
    transition: opacity 300ms;
  }
}
.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @media screen and (max-width: $tablet) {
    width: 100%!important;
    left: 0!important;
    bottom: -64px!important;
  }
  &.first, &.last {
    width: 50%;
    left: 25%;
  }
}
.controls {
  display: flex;
  justify-content: space-between;
  z-index: 4!important;
  width: 100%;
  left: 0;
  bottom: 0;
  & > * {
    display: flex;
  }
}
.controls-container.first .controls {
  justify-content: flex-end;
  & > *:first-child {
    display: none;
  }
}
.controls-container.last .controls {
  justify-content: flex-start;
  & > *:last-child {
    display: none;
  }
}
.button {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 3;
  position: relative;
  z-index: 3;
  border: 3px solid black;
  padding: 4px;
  border-radius: 50px;
  color: black;
  font-weight: 600;
  font-size: 25px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 20px;
  @media screen and (max-width: $desktop) {
    margin: 10px;
  }
}
.page-wrapper > div:last-child {
  z-index: 37!important;
}
.spotify-wrapper {
  opacity: 0;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.mixcloud-wrapper {
  opacity: 0;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.flipbook-wrapper, .angel-tears {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.angel-tears {
  @media screen and (max-width: $tablet) {
    padding-top: calc(50% - 32px);
  }
}
.flipbook-wrapper, .controls-container {
  opacity: 1;
  transition: opacity .5s;
}
.is-hidden {
  opacity: 0!important;
}
#flipbook{
  z-index: 2;
  clear: both;
  overflow: hidden;
}
#flipbook .qzine-page.credits-wrapper {
  background-color: black;
}
.image-wrapper {
  width: 100%;
  height:100%;
}

//Covers
.cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.qzine-page.credits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
  iframe {
    width: 100%;
  }
}
.qzine-page {
  h1, h2, h3, h4, h5, h6, p, ul {
    font-family: 'Open Sans';
    line-height: 1.4em;
    text-align: center;
    letter-spacing: .05rem;
  }
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 11px;
    margin: 0;
    color: black;
    @media screen and (max-width: $tablet) {
      font-size: 7px;
    }
  }
}

.dedication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    padding: 0 50px;
  }
}
.video-embed-wrapper {
  background-color: black;
  z-index: 4;
}
.video-embed {
  overflow:hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  z-index:3;
  iframe {
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: 3;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}
.images-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    flex: 1 1 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    text-align: left;
    padding: 0 20px;
    @media screen and (max-width: $desktop) {
      padding: 0 10px;
    }
    @media screen and (max-width: $tablet) {
      padding: 0 7px;
    }
  }
  & > * {
    display: flex;
    flex-wrap: wrap;
  }
  picture {
    width: 100%;
  }
  img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    opacity: 0;
    z-index: 2;
    @media screen and (max-width: $desktop) {
      margin-bottom: 10px;
    }
    @media screen and (max-width: $tablet) {
      margin-bottom: 7px;
    }
  }
}
.full-page-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    padding: 0 50px;
    line-height: 2.5;
    @media screen and (max-width: $desktop) {
      padding: 0 45px;
    }
    @media screen and (max-width: $tablet) {
      padding: 0 20px;
      line-height: 2.2;
    }
  }
}
.full-page-image {
  height: 100%;
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}
.full-page-image-top-contained {
	background-color: transparent;
	img {
		object-fit: cover;
    object-position: center;
		width: 100%;
	}
}
.full-page-image-right {
  height: 100%;
  img {
    object-fit: cover;
    object-position: right bottom;
    height: 100%;
    width: 100%;
  }
}
.full-page-stacked-images {
  display: flex;
  flex-direction: column;
  height: 100%;
  picture {
    height: 50%;
  }
  img {
    height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  }
}
.full-page-stacked-images-btm {
  display: flex;
  flex-direction: column;
  height: 100%;
  picture {
    height: 50%;
  }
  img {
    height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
  }
}
.full-page-image-and-video {
  display: flex;
  flex-direction: column;
  height: 100%;
  picture {
    display: block;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .video-embed-wrapper {
    height: 100%;
  }
  iframe {
    height: 100%;
  }
}
.p23, .p22 {
  img {
    height: 100%; 
  }
}
.full-width-image-center {
   height: 100%;
   display: flex;
   align-items: center;
   picture {
    display: flex;
    align-items: center;
    height: 65%;
   }
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  } 
  &.title {
    justify-content: center;
    img {
      width: 50%;
      object-fit: contain;
      @media screen and (max-width: $desktop) {
        width: 70%;
      }
      margin-left: 15%;
      opacity: 0.8!important;
    }
  }
  &.title-center {
    picture {
      justify-content: center;
    }
    img {
      margin-left: 0;
    }
    text-align: center;
  }
}
.left-aligned-text {
  p {
    text-align: left;
  }
}
.image-centered {
  height: calc(100% - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  img {
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 100%;
  }
}
.image-natural-width {
  img {
    width: 100%;
  }
}

//butterfly bois

.butterfly:first-child {
  --random-x: 100px; 
  --random-y: 200px; 
}

.butterfly:last-child {
  --random-x: 200px; 
  --random-y: 400px; 
}


.butterfly-wrapper {
  position: absolute;
  width: 110vw;
  height: 110vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.butterfly-body {
  width: 4px;
  height: 25px;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.6);
  
  &:before {
    position: absolute;
    top: -5px;
    left: -1px;
    width: 1px;
    height: 6px;
    background-color:rgba(255, 255, 255, 0.6);
    transform: rotate(-25deg);
    content: '';
  }
  
    &:after {
    position: absolute;
    top: -5px;
    left: 4px;
    width: 1px;
    height: 6px;
    background-color:rgba(255, 255, 255, 0.6);
    transform: rotate(25deg);
    content: '';
  }
}

.butterfly {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(var(--random-x), var(--random-y));
  transition: transform 5s linear;
}

.butterfly-wing-1 {
  transform: rotateY(60deg);
  animation: Wing1 1s infinite;
  
  &:before {
    position: absolute;
    top: -9px;
    left: 5px;
    display: block;
    width: 30px;
    height: 20px;
    transform: rotateX(0deg);
    border-radius: 20px 5px;
    background-color:rgba(255, 255, 255, 0.6);
    content: '';
  }
  
  &:after {
    position: absolute;
    top: 13px;
    left: 5px;
    display: block;
    width: 30px;
    height: 20px;
    transform: rotateX(-170deg);
    border-radius: 20px 5px;
    background-color:rgba(255, 255, 255, 0.6);
    content: '';
  }
}

.butterfly-wing-2 {
  position: relative;
  top: -1px;
  transform: rotate(180deg) rotateY(60deg);
  animation: Wing2 1s infinite;
  
    &:before {
    position: absolute;
    top: -9px;
    left: 5px;
    display: block;
    width: 30px;
    height: 20px;
    transform: rotateX(0deg);
    border-radius: 20px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    content: '';
  }
  
  &:after {
    position: absolute;
    top: 13px;
    left: 5px;
    display: block;
    width: 30px;
    height: 20px;
    transform: rotateX(-170deg);
    border-radius: 20px 5px;
    background-color:rgba(255, 255, 255, 0.6);
    content: '';
  }
}

@keyframes Wing1 {
  0% {
    transform: rotateY(60deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(60deg);
  }
}

@keyframes Wing2 {
  0% {
    transform: rotate(180deg) rotateY(60deg);
  }
  50% {
    transform: rotate(180deg) rotateY(0deg);
  }
  100% {
    transform: rotate(180deg) rotateY(60deg);
  }
}

@keyframes Body {
  0% {
    transform: translate(random(200), random(200));
  }
  20% {
    transform: translate(random(200), random(200));
  }
  40% {
    transform: translate(random(200), random(200));
  }
  60% {
    transform: translate(random(200), random(200));
  }
  80% {
    transform: translate(random(200), random(200));
  }
  100% {
    transform: translate(random(200), random(200));
  }
}

.top-aligned-video {
  width: 100%;
  .top-aligned-video-wrapper {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
}
.qzine-page.simple-recipe-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
}
.recipe-wrapper h1 {
  height: 4vh;
  line-height: 4vh;
  @media screen and (min-width: $tablet) {
    height: 14vh;
    line-height: 14vh;
  }
}
.recipe-wrapper .recipe {
  display: flex;
  flex-direction: column;
  height: 81%;
}
.qzine-page .recipe {
  @media screen and (max-width: $desktop) {
    padding:2.5vw 3vw;
  }
  @media screen and (min-width: $tablet) {
    padding:2vw 5vw;
  }
  @media screen and (min-width: $desktop) {
    padding:4vw 8vw;
  }
  h1 {
    margin: 0;
    vertical-align: middle;
    color: black;
    text-align: left;
    font-size: 1.9vh;
    font-weight: 500;
    font-style: italic;
    @media screen and (max-width: $desktop) {
      font-size: 2.2vh;
    }
    @media screen and (max-width: $tablet) {
      font-size: .7vh;
    }
  }
  .process {
    margin-top: 0vh;
    @media screen and (min-width: $tablet) {
      margin-top: 14vh;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
    color: black;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    @media screen and (max-width: $desktop) {
      font-size: 2vh;
    }
    @media screen and (max-width: $tablet) {
      font-size: .7vh;
    }
  }
  ul {
    text-align: left;
    color: black;
    list-style: none;
    font-size: 12px;
    line-height: 1.4;
    @media screen and (max-width: $desktop) {
      padding: 0 .5rem;
      font-size: 2vh;
      @media screen and (max-width: $tablet) {
        font-size: .7vh;
        margin: .25vh 0 0 .25vh;
      }
    }
  }
  p {
    text-align: left;
    margin: 1rem 0;
    font-size:12px;
    @media screen and (max-width: $desktop) {
      margin: .25rem 0;
      font-size: 2vh;
    }
    @media screen and (max-width: $tablet) {
      font-size: .7vh;
    }
  }
  .byline {
    font-style: italic;
  }
}
.recipe-title {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 12px;
    @media screen and (max-width: $desktop) {
      font-size: 2vh;
    }
    @media screen and (max-width: $tablet) {
      font-size: .7vh;
    }
  }
}
.recipe-wrapper.white-bean {
  h1 {
    height: auto;
  }
  .process {
    margin-top: 3vh;
  }
}

.indent {
  margin-left: 50px;
}
////////////////
// Components
////////////////
.top-aligned-video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.text-centered-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-left, .text-centered, {
  padding: 5%;
}
.text-centered {
  text-align: center;
}
.text-left p {
  text-align: left;
}

.two-images {
  display: flex;
  flex-direction: column;
  & > * {
    flex: 1 1 50%;
    width: 100%;
  }
}