<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ $sass := resources.Get "style.scss" }}
	{{ $style := $sass | resources.ToCSS (dict "outputStyle" "compressed")}}
	<link rel="stylesheet" href="{{$style.Permalink}}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async=""></script>
	<script
	src="https://code.jquery.com/jquery-3.5.0.min.js"
	integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
	crossorigin="anonymous"></script>
	{{ $turn := resources.Get "turn.js" }}
	<script src="{{$turn.Permalink}}"></script>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
	<script>
		window.addEventListener('DOMContentLoaded', function() {
			$("#flipbook").turn({
				width: 1200,
				height: 465,
				autoCenter: true,
			/*     display: 'single' */
			});
			$("#previous").click(function() {
				$("#flipbook").turn("previous");
			});

			$("#next").click(function() {
				$("#flipbook").turn("next");
			});
			var butterflies = document.querySelectorAll('.butterfly');
			function getRandomArbitrary(min, max) {
				return Math.random() * (max - min) + min;
			}
			function animateButterfly(butterfly, interval) {
				setInterval(function() {
					var numberX = Math.floor(getRandomArbitrary(0, window.innerWidth));
					var numberY = Math.floor(getRandomArbitrary(0, window.innerHeight));
					
					butterfly.style.setProperty('--random-y', numberY +'px');
					butterfly.style.setProperty('--random-x', numberX +'px');
				}, interval);
			}
			if (butterflies.length) {
				animateButterfly(butterflies[0], 9000);
				animateButterfly(butterflies[1], 13000);
			}
		})
	</script>
</body>
</html>
